@page
@model AboutRevisionTwoModel
@{
    ViewData["Title"] = "About Revision Two";
}
<h1>@ViewData["Title"]</h1>
<div class="card h-100 shadow">
    <img class="card-img" src="~/images/bg_homepage.jpg" style="height:auto"/> 
    <div class="card-img-overlay">
        <div class="card-body">
            <h2 class="card-title">Demo Company Overview</h2>
            <h4>Key Statistics</h4>
                <ul class="card-text">
                    <li>Founded: January 2013</li>
                    <li>Employees: about 30</li>
                    <li>Revenue: ~$20M annually</li>
                </ul>
        </div>  
        <div class="card-footer bg-transparent border-0">
            <p><a class="btn btn-primary" asp-area="Demo" asp-page="/AcuCreds/Index">Demo Setup &raquo;</a></p>
        </div>
    </div>   
</div>            
<br/><br/>
<p class="card-text text-wrap"><b>Revision Two</b> is a fictional company used for demonstrating Acumatica features. The company has multiple lines of business, branches, a European based entity, and several employee personas to demonstrate the full capabilities of Acumatica.</p>


<div class="container-fluid p-3 mb-5">
    <h4>Demo Data</h4>
    <p class="text-break">RevisionTwo ERP data is maintained on the <a href="https://sso.acumatica.com/(W(1))/Main?ScreenId=SL000006&PageID=958c3fe4-555c-4883-a849-b2e34c3f85d0" target="_blank">Acumatica Partner Portal.   </a>You must have an authorized partner to access this site.</p>
    <p class="text-break">The data is updated monthly so you always have a current version to demonstrate. As new versions are released, the snapshot will be updated so you can restore the demo data into the latest version of Acumatica ERP that is available for download on the partner portal.</p>
</div>